import(shiny)
importFrom(graphics,par,plot,plot.new,text)
importFrom(grDevices,pdf,dev.off,gray.colors)
importFrom(utils,head,read.csv,write.csv,capture.output,getFromNamespace,modifyList,str,tail)
importFrom(stats,setNames,approx,"contrasts<-",nlminb,qchisq,runif,uniroot)
export(run_app)
export(app_guane)
export(app_ui)
export(app_server)
