import(shiny)
importFrom(graphics,par,plot,plot.new,text)
importFrom(grDevices,pdf,dev.off)
importFrom(utils,head,read.csv,write.csv)
importFrom(stats,setNames)
export(run_app)
export(app_guane)
export(app_ui)
export(app_server)
